# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Model files (optional – remove if you want to keep models)
*.pkl
*.joblib

# Logs
*.log
